<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/adminlogin.css">
    <title>Document</title>
</head>
<body>
 
    <div class="wrapper">
      {% if get_flashed_messages() %}
      <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{ get_flashed_messages()[0] }}
      </div>
    {% endif %} 
      
      <div class="container">
          <div class="col-left">
            <div class="login-text">
       
            <br>
              <h2>MindRing<br>Admin login</h2> 
              
            </div>
          </div>
          <div class="col-right">
            <div class="login-form">
              <h2>Login</h2>
              <form action="/adminlogin" method="post">
                <p><br><br>
                  <label> Admin username <span>*</span></label>
                  <input type="text" name="uname" placeholder="" required>
                </p>
                <p><br>
                  <label>Admin Password<span>*</span></label>
                  <input type="password"name="password" placeholder="" required>
                </p>
                <p><br><br>
                  <input type="submit" value="Log In" />
                </p>
                <p>
                </p>
              </form>
            </div>
          </div>
        </div>
        
      </div>
</body>
</html>