<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MINDRING</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- image -->
  <link rel="icon" href="/static/img/mindringlogo.png" type="image/x-icon">
  <!-- Favicons -->
  
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/homepagemenu.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="#hero"><span>MINDRING</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#personalspace">Personal Space</a></li>
          <li><a class="nav-link scrollto" href="#professionalspace">Professional Space</a></li>
          <li><a class="nav-link scrollto" href="#healthspace">Health Space</a></li>
          <li><a class="nav-link scrollto" href="/feedback">FeedBack</a></li>
          <!-- <li><a class="nav-link scrollto" href="#aboutus">About Us</a></li> -->
          <li><a class="getstarted scrollto" href="/logout">Logout</a></li>
        </ul>
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>ALL IN ONE PLACE TO KEEP YOU ORGANIZE</h1>
          <h2></h2>
          <div>
            <a href="#personalspace" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
<!-- <hr> -->
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="personalspace" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="/static/svg/personal.svg"  width="350px" class="img-fluid " alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up" >Personal Space</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Make Your Life Organized and Declutter your Mind by MindRing
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">


                <a href="/todo">
                  
                  <!-- <img src="/static/svg/todolist.svg" width="100px" alt=""> -->
                  <i class="bx bx-task"></i>




                <h4 >Todo</h4></a>
                <p></p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <a href="/pernote">
                  
                  <!-- <img src="/static/svg/notes.svg" width="50px" alt=""> -->
                  
                  <i class="bx bx-list-ul"></i>
                <h4 >Notes</h4>
              </a><p></p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
               <a href="/journal"> 
                <!-- <img src="/static/svg/dairy.svg" width="50px" alt=""> -->
                <i class="bx bxs-book"></i>
                <h4 >Journal</h4></a>
                <p></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Personal Space Section -->
  
  
  
  
  
  <hr>
  
  
    <section id="professionalspace" class="about">
  <div class="container">
    <div class="row justify-content-between">


      <div class="col-lg-6 pt-5 pt-lg-0">



        <h3 data-aos="fade-up" >Professional Space</h3>
        <p data-aos="fade-up" data-aos-delay="100">
          Make Your Life Organized and Declutter your Mind by MindRing
        </p>
        <div class="row">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <a href="/project">
              <i class="bx bx-world"></i>
            <h4 >project</h4></a>
            <p></p>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <a href="/pronote"><i class="bx bx-receipt"></i>
            <h4 >Work Notes</h4></a>
            <p></p>
          </div>
          </div>
      </div>
      <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
      
      
      
        <div >
        <img  alt="right" src="/static/svg/professional.svg" class="img-fluid" alt="" data-aos="zoom-out">
      </div>
      </div>

    </div>
  </div>
</section>




<hr>


<!-- End professional Space -->
<section id="healthspace" class="about">
  <div class="container">

    <div class="row justify-content-between">
      <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
        <img src="/static/svg/mindfulness.svg" width="400px" class="img-fluid" alt="" data-aos="zoom-in">
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0">
        <h3 data-aos="fade-up" >Health Space</h3>
        <p data-aos="fade-up" data-aos-delay="100">
          Make Your Life Organized and Declutter your Mind by MindRing
        </p>
        <div class="row">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
          <a href="/meditatenew">  <i class="bx bxl-firefox"></i>
            <h4 >Meditation</h4></a>
            <p></p>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <a href="/relaxnew"><i class="bx bxl-spotify"></i>
            <h4 >Relaxing Sounds</h4></a>
            <p></p>
          </div>
          </div>
      </div>
    </div>
  </div>
</section><!-- End Health Space -->


<!-- <section id="feedback" style="margin-top: 200px;"  class="about"> -->
<!-- <hr>   -->
<!-- 
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 d-flex align-items-center justify-content-center about-img"> -->
        <!-- <fieldset> -->
          <!-- <div class="feedback-section" data-aos="fade-up" >
            <h2>Feedback</h2>
            <form action="/feedback" method="POST">
              <input type="text" name="date" id="nowdate" hidden>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
        
              <label for="feedback">Feedback:</label>
              <textarea id="feedback" name="message" required></textarea>
        
              <input type="submit" value="Submit">
            </form>
          </div>
          <script> -->
<!-- //             var currentDate = new Date();
// var dateElement = document.getElementById('nowdate');
// dateElement.value = currentDate.toDateString();
var currentDate = new Date();
var dateElement = document.getElementById('nowdate');
dateElement.value = currentDate.toLocaleString();

          </script> -->
        <!-- </fieldset> -->
        
        <!-- <img src="static/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in"> -->

<!--         
      </div>
      
      <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
        <img src="/static/svg/feedback.svg  " width="400px" class="img-fluid" alt="" data-aos="zoom-in">
      </div>
    </div>
  
  </div>
  </section>


  <section id="aboutus" style="margin-top: 200px;"  class="about"> -->
    <!-- <hr>   -->
<!--     
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          </div>
        </div> -->
      
      <!-- </div>
      </section>
     -->
    

  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

  <!-- Vendor JS Files -->
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main1.js"></script>

</body>

</html>