
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Register</title>
    
        <!-- Font Icon -->
        <link rel="stylesheet" href="../static/fonts/material-icon/css/material-design-iconic-font.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    


        <!-- Main css -->
        
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/style.css.map">
    </head>
   
   
    <body>


        
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h3 class="form-title" style="margin-left: 200px; font-weight: bolder; color:  #a709e6; text-align: center;">MindRing</h3>
                    <h3 style="color:  #a709e6;">Registration</h3><br>
                    <form  action="/register"   method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Your Name" required/>
                        </div>
                        <div class="form-group">
                            <label for="username"><i class="zmdi zmdi-email"></i></label>
                            <input type="text" name="username" id="username" placeholder="Your Username" required/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <!-- <input type="password" name="password" id="password" /> -->
                            <input type="password"  name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                           </div>
                           <div style="margin-top:-19px;">
                            <ul>
                                <li>atleast 8 characters</li>
                                <li>any one uppercase or lowercase</li>
                                <li>one special character like " @,#,% ..."</li>
                            </ul>
                           
<br>
  <span id="password-error" style="color: red;"></span>
  
                        </div>
                        <!-- <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div> -->
                        <div class="form-group form-button"  style="margin-top: -50px;">
                            <input type="submit" style="background-color: #8713f3;" name="signup" id="signup" class="form-submit" value="Register"   onclick="validatePassword()"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="../static/images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link" style="color: #7b05e9;"><b>I am already member</a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/js/main.js"></script>
<!-- <script src="/static/js/pwd.js"></script> -->
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
